@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Bree Serif';
    
}

.menu{
    display: inline-block;
    margin: 5px auto;
    overflow: hidden;
}

#logo{
    max-width: 130px;
    float: left;
    
}


header{
    overflow: hidden;
    background-color: #106552; 
    color: white; 
}


h1{
    color: #828282;
}

.question{
    padding: 0px 50px 0px 150px;
}

.button{
    text-align: right;
}

.btn{
    background-color: #106552; 
    color: white;
    
    
}

nav{
    margin: auto;
    width: 100%;
}

nav ul{
    float: right;   
    margin: 20px auto;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 20px;
}

footer  {
    overflow: hidden;
    background-color: #106552; 
    color: white;
    max-height: 104px;
 
}

.img-social-media{
    max-width: 40px;
    
}

.row{
    text-align: center;

}

/* CADASTRO ETAPA 1 */
form{
    padding: 20px;
    line-height: 30px;
    
    
}

.btn-voltar{
    border-style: solid;
    border-color: #106552;
    color: #106552; 
    background-color: white;
       
}

.buttons{
    text-align: right;
    
}

/* CADASTRO ETAPA 5 */

.imagens{
    
    display: flex;
    justify-content: space-between;
}

.imagens-texto{
    max-width: 500px;
    margin: auto 10px;
}

.caixa-texto{
    
    display: flex;
    justify-content: space-between;
}

/* FEED */

.perfil{
    background-color: #e5e5e5;
    margin: 5px auto;
    padding: 5px;
    width: 250px;
    height: 400px;
    float: left;
    text-align: center;
    
}

.posts{
    background-color: #e5e5e5;
    margin: 5px auto;
    padding: 5px;
    width: 500px;
    height: 800px;
    text-align: center;
    /* float: left; */
}

.interesses-recomendacoes{
    background-color: #e5e5e5;
    margin: 5px auto;
    padding: 5px;
    width: 250px;
    height: auto;
    float: right;
}

.feed{
    display: flex;
    justify-content: space-between;
}

.img-perfil{
    max-width: 100px;
    justify-content: center;
}

.subtema-interesse{
    border-style: solid;
    background-color: white;
    color: #106552;
    text-align: center;
    margin: 5px;
}

.subtema-recomendacoes{
    border-style: solid;
    background-color: white;
    color: #106552;
    text-align: center;
    margin: 5px;
}

.img-perfil-friend{
    max-width: 50px;
    float: left;
    margin: 5px; 
}