@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

/* *{
    box-sizing: border-box;
} */

body{
    font-family: 'Bree Serif';
    
}

.button{
    text-align: right;
}

.btn{
    background-color: #106552; 
    color: white;
    border: none;
    
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:576px) {
    .container h2 {
        font-size: 23px;
    }
}

@media(max-width:576px) {
    .container form {
        margin-right: 50%;
    }
}

@media(max-width:576px) {
    footer {
        width: 100%;
    }
}

@media(max-width:576px) {
    #entrar {
        font-size: 15px!important;
    }
}


/* @media (max-width:576px) {
    body {
        background: red;
    }
} */


/******************* login ****************/